* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
}

header {
    background-color: rgb(86, 213, 92);
    color: #fff;
    padding: 1em 0;
}

header .container_230060006 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header h1 {
    margin: 0;
    font-size: 1.8em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.container_230060006 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    margin-bottom: 30px;
}

section h2 {
    margin-bottom: 10px;
    font-size: 2em;
}

section p {
    font-size: 1.1em;
    line-height: 1.8;
}

footer {
    background-color: #46d152;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    flex-shrink: 0;
}

footer .container_230060006 {
    max-width: 1200px;
    margin-top: auto;
    padding: 0 20px;
}


@media (max-width: 768px) {
    header .container {
        flex-direction: column;
        align-items: flex-start;
    }

    header h1 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}
